<head>
    <meta charset="UTF-8">
    <title><%= page_title %></title>
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap-theme.min.css">
