<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title %></title>
    <link rel="stylesheet" href="/dist/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dist/assets/plugins/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/dist/assets/plugins/jquery.ex-code-prettify/google-code-prettify/prettify.css">
    <link rel="stylesheet" href="/dist/assets/plugins/jquery.ex-code-prettify/jquery.ex-code-prettify.css">
    <link rel="stylesheet" href="/dist/assets/css/styles.css">
    <script src="/dist/assets/plugins/jquery.min.js"></script>
    <script src="/dist/assets/plugins/jquery.ex-code-prettify/google-code-prettify/prettify.js"></script>
    <script src="/dist/assets/plugins/jquery.ex-code-prettify/jquery.ex-code-prettify.js"></script>
    <script src="/dist/assets/plugins/jquery.ex-code-prettify/behave/behave.js"></script>
    <script src="/dist/assets/plugins/smooth-scroll.min.js"></script>
    <script>
        $(function () {
            smoothScroll.init();

            $('.code-demo').exCodePrettify({
                showDemo: true,
                editCode: true,
                behaveJS: true,
//                showResetButton: true,
            });

            $('.code').exCodePrettify({
                showDemo: false
            });
        });
    </script>