<%
var page_title = 'Canvas';
%><% include assets/include/_start %>
<% include assets/include/_head_before %>
<% include assets/include/_head_after %>
<% include assets/include/_header %>

<div class="container">
	<div class="page-header">
		<h1>Canvas <small>検証</small></h1>
	</div>

	<nav class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">図形</h2>
		</div>
		<div class="panel-body">
			<ul class="nav">
				<li><a href="graphic/001.html">基本図形</a></li>
			</ul>
		</div>
	</nav>
</div>

<% include assets/include/_footer %>
<% include assets/include/_end %>